{% extends "layout.html" %}

{% block title %}
    Spendings
{% endblock %}

{% block main %}
    <div class="container mx-auto">
        <form id="newReceipt" action="/" method="post" class="mb-2" onsubmit="return validateSubmitForm()">
            <div class="row">
                <div class="col-8 col-md-9 col-lg-4 mb-2">
                    <input type="text" required class="form-control" id="title" name="title" placeholder="Title">
                </div>
                <div class="col-4 col-md-3 col-lg-2 mb-2">
                    <input type="number" required step="0.01" class="form-control" id="cost" name="cost" placeholder="Cost">
                </div>
                <div class="col-8 col-md-9 col-lg-3 mb-2">
                    <select class="form-select" id="category_id" name="category_id" form="newReceipt" placeholder="Category" required>
                        <option selected disabled>Choose category</option>
                        {% for row in categories %}
                            <option value="{{ row.id }}">{{ row.category }}</option>
                        {% endfor %}
                    </select>
                    <small id="categoryError" class="text-danger d-none">Please choose a category.</small>
                </div>
                <div class="col-4 col-md-3 col-lg-2 mb-2">
                    <input type="date" required class="form-control" id="date" name="date" placeholder="Date">
                </div>
                <div class="col-12 col-md-12 col-lg-1 mb-2">
                    <button type="submit" class="w-100 btn btn-primary">Add</button>
                </div>
            </div>
        </form>
        <hr>
        <div class="container mx-auto ">
            <form id="searchDates" action="/searchDates" method="post" class="mb-2">
                <div class="row align-items-center mb-2">
                    <div class="col-1">
                        From:
                    </div>
                    <div class="col-5">
                        <input type="date" class="form-control" id="dateBegin" name="dateBegin">
                    </div>
                    <div class="col-1">
                       To:
                    </div>
                    <div class="col-5">
                        <input type="date" class="form-control" id="dateEnd" name="dateEnd">
                    </div>
                </div>
                <div class="col">
                    <button type="submit" class="w-100 btn btn-primary">Show</button>
                </div>
            </form>
        </div>
        <hr>
        <div class="mx-auto">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="col-4 col-lg-4">Title</th>
                        <th class="col-2 col-lg-2">Cost</th>
                        <th class="col-3 col-lg-3">Category</th>
                        <th class="col-3 col-lg-2">Date</th>
                        <th class="col-lg-1">Tools</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in spendings %}
                        <tr>
                            <td class="align-middle">{{ row.title }}</td>
                            <td class="align-middle">{{ row.cost | pln }}</td>
                            <td class="align-middle">{{ row.category }}</td>
                            <td class="align-middle">{{ row.date }}</td>
                            <td class="align-middle">
                                <!-- Edit button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal{{ row.id }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square mb-1" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                    </svg>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="editModal{{ row.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="editModalLabel">Editing receipt</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="editReceipt{{ row.id }}" action="/editRow" method="post" class="mb-2" onsubmit="return validateEditForm()">
                                                        <div class="col mb-2">
                                                            <input type="text" required class="form-control" id="edit_title" name="edit_title" placeholder="Title" value="{{ row.title }}">
                                                        </div>
                                                        <div class="col mb-2">
                                                            <input type="number" required step="0.01" class="form-control" id="edit_cost" name="edit_cost" placeholder="Cost" value="{{ row.cost }}">
                                                        </div>
                                                        <div class="col mb-2">
                                                            <select class="form-select" id="edit_category_id" name="edit_category_id" form="editReceipt{{ row.id }}" required>
                                                                {% for category in categories %}
                                                                    <option value="{{ category.id }}" {% if category.category == row.category or loop.index == 1 %}selected{% endif %}>
                                                                        {{ category.category }}
                                                                    </option>
                                                                {% endfor %}
                                                            </select>
                                                            <small id="edit_categoryError" class="text-danger d-none">Please choose a category.</small>
                                                        </div>
                                                        <div class="col mb-2">
                                                            <input type="date" required class="form-control" id="edit_date" name="edit_date" placeholder="{{ row.date }}" value="{{ row.date }}">
                                                        </div>
                                                        <input name="edit_id" type="hidden" value="{{ row.id }}">
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button class="btn btn-primary" type="submit" value="Edit" form="editReceipt{{ row.id }}">Edit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Delete Button trigger modal -->
                                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#deleteModal{{ row.id }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill mb-1" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                    </svg>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="deleteModal{{ row.id }}" tabindex="-1" aria-labelledby="Delete" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="deleteModalLabel">Deleting Receipt</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <form action="/deleteRow" method="post">
                                                    <input name="id" type="hidden" value="{{ row.id }}">
                                                    <input class="btn btn-dark" type="submit" value="Delete">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function validateSubmitForm() {
            var categorySelect = document.getElementById("category_id");
            var selectedCategory = categorySelect.options[categorySelect.selectedIndex].value;
            var categoryError = document.getElementById("categoryError");

            if (selectedCategory === "Choose category") {
                // Display error message
                categoryError.classList.remove("d-none");
                return false; // Prevent form submission
            }

            // Hide error message if it was previously shown
            categoryError.classList.add("d-none");

            // Continue with form submission
            return true;
        }

        function validateEditForm() {
        var categorySelect = document.getElementById("edit_category_id");
        var selectedCategory = categorySelect.options[categorySelect.selectedIndex].value;
        var categoryError = document.getElementById("edit_categoryError");

        if (selectedCategory === "Choose category") {
            // Display error message
            categoryError.classList.remove("d-none");
            return false; // Prevent form submission
        }

        // Hide error message if it was previously shown
        categoryError.classList.add("d-none");

        // Continue with form submission
        return true;
    }
    </script>
{% endblock %}
