{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main_not_logged_in %}
    <form id="registrationForm" action="/login" method="post" onsubmit="return validateForm()">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            <small id="usernameMissing" class="text-danger d-none">Enter username.</small>
            <small id="passwordMissing" class="text-danger d-none">Enter password.</small>
            <small id="bothMissing" class="text-danger d-none">Enter username and password.</small>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
        <a class="btn btn-primary" href="/register">Register</a>
    </form>

    <script>

        function validateForm() {
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;

            // Hide error messages (if previously shown)
            document.getElementById('usernameMissing').classList.add('d-none');
            document.getElementById('passwordMissing').classList.add('d-none');
            document.getElementById('bothMissing').classList.add('d-none');

            if (username.trim() === '' && password.trim() === '') {
                // Display error message
                document.getElementById('bothMissing').classList.remove('d-none');
                return false; // Prevent form submission
            } else if (username.trim() === '') {
                // Display error message
                document.getElementById('usernameMissing').classList.remove('d-none');
                return false; // Prevent form submission
            } else if (password.trim() === '') {
                // Display error message
                document.getElementById('passwordMissing').classList.remove('d-none');
                return false; // Prevent form submission
            }

            return true; // Allow form submission
        }

    </script>
{% endblock %}
